&:host
  display: block
  width: 100vw
  height: 64px

.toolbar
  position: fixed
  z-index: 1000
  padding: 0
  width: 100vw

  .spacer
    flex: 1 1 auto

  .logout-button
    margin-right: 10px

  .mdi
    margin-right: 5px
    font-size: 1.4em

  .back-button
    display: flex
    justify-content: center
    align-items: center
    margin-left: 5px

    .mdi
      font-size: 2em

  .mat-headline
    margin: 0

  .logout-button
    .material-icons
      margin-left: 5px

@media (max-width: 600px)
  &:host
    height: 56px
