mat-toolbar.toolbar.mat-elevation-z2(color='primary', role='header')
  button.back-button(
    [disabled]='router.routerState.snapshot.url === "/users" || !authService.isLoggedIn()',
    (click)='back()',
    mat-button, color='basik'
  )
    .mdi.mdi-arrow-left-bold
  .mdi.mdi-github-circle

  span.mat-headline GitHub API

  span.spacer

  button.logout-button(
    *ngIf='authService.isLoggedIn()',
    mat-button,
    color='basik',
    (click)='logout()'
  )
    span.lable Sign out
    .material-icons exit_to_app
