.container.mat-elevation-z4
  h1.welcome Welcome!
  p.row Please, note that GitHub doesn't provide private information (emails etc.) to unauthorized users. Details here:

  a.row.link(mat-button, href="https://developer.github.com/v3/#detailed-representations", target='_blank')
    .material-icons link
    span GitHub Detailed representations.

  p.row
   | To be able to see all the information you can generate your personal
   | access token with GitHub account and insert it below.

  mat-expansion-panel.row.expansion-panel
    mat-expansion-panel-header
      mat-panel-title Create and use personal access token

    p.row
      | Click 'Generate new token' after redirect. In the token generator menu you just need to fill description field
      | and press 'Generate', checklist can be empty.

    a.row.link(mat-raised-button, color='accent', href="https://github.com/settings/tokens", target='_blank')
      .material-icons link
      span Generate access token

    form.row.token-form((ngSubmit)='login()')
      mat-form-field.row.form-field(matFormFieldControl)
        input(matInput, [formControl]='accessToken', placeholder='Insert token here')
        mat-error.error-tip(*ngIf='accessToken.hasError("required")') Token is required.
        mat-error.error-tip(*ngIf='accessToken.hasError("pattern")') Only numbers and English characters are allowed.

      button.row.submit-button(
        mat-raised-button,
        color='primary',
        type='submit',
        [disabled]='accessToken.invalid'
      ) Authorize

  p.row Or you can just use the default access key:
  button.row.default-button(mat-raised-button, color='primary', (click)='loginWithDefault()') Use default key
