&:host
  display: block
  width: 100%

.container
  display: flex
  flex-direction: column
  padding: 20px

  width: 100%

  font-size: 1.2em

  .welcome
    margin-top: 0

  .row
    margin: 10px 0

  .link
    display: flex
    justify-content: flex-start
    align-items: center
    height: 40px

  .default-button
    display: flex
    justify-content: center
    align-items: center

    width: 250px
    height: 40px

  .material-icons
    margin-right: 10px

  .expansion-panel
    .link
      display: flex
      justify-content: flex-start
      align-items: center

      width: 230px

    .token-form
      .form-field
        margin: 15px 0
        width: 100%

        .error-tip
          font-size: 1.3em

      .submit-button
        margin: 10px 0

@media (max-width: 480px)
  .container
    align-items: center
