.container.mat-elevation-z5
  mat-nav-list(*ngIf='usersService.users')
    a.link(mat-list-item, *ngFor='let user of usersService.users', (click)='onLinkClick(user)')
      img.avatar(matListAvatar, [src]='user.avatar_url')
      h2.login(matLine) {{user.login}}

      .material-icons chevron_right

  .block(*ngIf='usersService.loadingUsers')
    mat-spinner.loader([diameter]='80')
