@import '../../../../stylus/_variables'

.container
  display: flex
  flex-direction: column

  .link
    height: 70px

    .avatar
      width: 60px
      height: 60px

    .login
      font-size: 1.2em

    .user-loader
      display: flex
      justify-content: center
      align-items: center
      padding: 10px

  .block
    display: flex
    justify-content: center

    .loader
      position: fixed
      display: flex
      margin-top: 20px
