&:host
  display: block
  width: 100%
  height: 100%

.block
  display: flex
  justify-content: center

  .loader
    position: fixed
    display: flex

    margin-top: 20px
    width: 100%

  .container
    display: flex
    flex-flow: column wrap

    margin-top: 20px
    width: 100%
    height: 100%

    .header
      display: flex
      width: 100%
      height: 100%

      .photo
        display: flex
        margin-bottom: 10px
        border-radius: 10px

      .content
        display: flex
        width: 100%

        .info
          display: flex
          flex-direction: column
          align-self: center
          align-items: flex-start

          padding: 10px 15px
          width: 100%
          height: 80%

          border-top-right-radius: 3px
          border-bottom-right-radius: 3px
          background-color: #212121

          font-size: .9em

          .item
            display: flex
            flex-flow: wrap column
            justify-content: center
            align-items: center

            height: fit-content
            text-align: center

            &:last-child
              margin-bottom: 15px

            .name
              margin: 5px 0

            .title
              margin: 5px 0
              text-align: left
              font-size: 1.2em

            .content-loading
              margin: 13px 0
              width: 250px
              height: 10px

    .repositories
      display: flex
      flex-direction: column
      align-items: center

      margin-top: 20px
      width: 100%
      border-radius: 3px

      .title
        font-size: 1.3em

      .list
        width: 95%

        .repos-loader
          display: flex
          justify-content: center
          align-items: center

          margin: 25px 0
          width: 100%

        .repo-name
          margin-bottom: 10px
          font-size: 1.2em

@media (max-width: 1280px)
  .container
    .header
      .photo
        max-height: 300px

@media (max-width: 960px)
  .container
    .header
      padding: 10px

@media (max-width: 680px)
  .block
    .container
      .header
        flex-wrap: wrap
        justify-content: center
        padding: 10px

        .content
          .info
            height: auto

    .repositories
      .list
        width: 100%
