.block(*ngIf='!user &&  loadingUser && loadingRepos')
  mat-spinner.loader([diameter]='80')
.block(*ngIf='notFoundError')
  gh-page-not-found([headerText]='notFoundError')
.block(*ngIf='user')
  .container
    .header
      img.photo.mat-elevation-z3(*ngIf='user', [src]='user.avatar_url')

      .content
        .info.mat-elevation-z6
          .item
            h1.name(*ngIf='user && user.name && !loadingUser') {{user.name}}
            .title(*ngIf='user && !user.name && !loadingUser') name: didn't provide
            gh-content-loading.content-loading(*ngIf='loadingUser')

          .item
            .title(*ngIf='user && user.email  && !loadingUser') email: {{user.email}}
            .title(*ngIf='user && !user.email && !loadingUser') email: didn't provide
            gh-content-loading.content-loading(*ngIf='loadingUser')

          .item
            .title(*ngIf='user') login: {{user.login}}
            gh-content-loading.content-loading(*ngIf='!user && loadingUser')

    .repositories.mat-elevation-z3
      mat-toolbar.mat-elevation-z4
        h1.title Repositories:

      .list.mdc-elevation--z2
        .repos-loader(*ngIf='loadingRepos')
          mat-spinner([diameter]='60')

        h3(*ngIf='!loadingRepos && repositories.length === 0') Haven't created public repositories.

        mat-nav-list(*ngIf='!loadingRepos && usersService.currentUser')
          mat-list-item(
            *ngFor='let repo of repositories',
            [routerLink]='["/users", usersService.currentUser.login, repo.name]'
          )
            .material-icons(mat-list-icon) folder
            h3.repo-name(matLine) {{repo.name}}

            p(matLine)
              span.demo-2 {{repo.description}}
            .material-icons chevron_right

