.container
  .loader-container(*ngIf='!branches.length && branchesService.loading')
    mat-spinner([diameter] = '60')

  mat-list.nav-list(*ngIf='branches.length')
    mat-list-item
      span(mat-line) {{reposService.currentRepository.default_branch}}
      .default-branch Default

    mat-divider

    ng-container(*ngFor='let branch of branches')
      mat-list-item(*ngIf='branch.name !== reposService.currentRepository.default_branch')
        span(mat-line) {{branch.name}}