&:host
  display: block

.container
  display: flex
  flex-direction: column

  .loader-container
    display: flex
    justify-content: center

    margin: 15px 0
    width: 100%

  .nav-list
    .default-branch
      display: flex
      justify-content: center
      align-items: center

      margin: 0 15px
      width: 100px
      height: 1.6em

      border-radius: 35px
      background-color: #e91e63
      color: #fff
