@import "../stylus/_variables"

&:host
  display: block
  height: 100%

.container
  display: flex
  justify-content: center
  height: 100%

  .content
    width: 70%
    height: 100%

  .mdi-chevron-left
    color: lightgray
    font-size: 5em

@media (max-width: 1280px)
  .container
    .content
      width: 90%

@media (max-width: 960px)
  .container
    .content
      width: 100%