@import '../../../../stylus/_variables'

&:host
  display: block
  width: 100%
  height: 100%

.block
  display: flex

  &.center
    justify-content: center

  &.loader-container
    justify-content: center

    .loader
      position: fixed
      display: flex
      margin-top: 20px

  .container
    display: flex
    flex-direction: column

    margin-top: 20px
    padding: 20px
    width: 100%
    height: 100%

    color: #fff

    .header
      display: flex
      flex-direction: column
      flex-wrap: wrap
      align-items: center

      width: 100%
      border-radius: 3px
      font-size: 1.5em

      .toolbar
        display: flex
        flex-wrap: wrap

        padding: 20px 15px
        height: fit-content

        .repository-name-item
          white-space: pre-wrap
          font-size: 1.2em

      .repository-information
        display: flex
        flex-direction: column
        width: 95%

        .repo-info-list
          .list-item
            overflow: visible
            margin: 10px 0
            height: fit-content

            .description-container
              .description
                white-space: pre-line

    .tabs
      margin-top: 30px

      .navigation
        .tab-link
          .mdi
            font-size: 1.4em

@media (max-width: 1280px)
  .block
    .container
      .header
        .toolbar
          width: 100%

@media (max-width: 480px)
  .block
    .container
      padding: 0
