.block.loader-container(*ngIf='!repository && repositoriesService.loadingRepository')
  mat-spinner.loader([diameter]='80')
.block(*ngIf='notFoundError')
  gh-page-not-found(
    [navigationUrl]='notFoundError.navigationUrl',
    [linkLabel]='notFoundError.linkLabel',
    [headerText]='notFoundError.headerText'
  )
.block(*ngIf='repository')
  .container
    .header
      mat-toolbar.toolbar.mat-elevation-z4
        h1.repository-name-item Repository: '{{repository.name}}'

      .repository-information.mat-elevation-z3
        mat-list.repo-info-list
          mat-list-item.list-item
            img.avatar(matListAvatar, [src]='repository.owner.avatar_url')
            h3(mat-line) Owner:
            p(mat-line)
              span.mat-headline {{repository.owner.login}}

          mat-divider(*ngIf='repository.description')

          mat-list-item.list-item(*ngIf='repository.description')
            .material-icons(mat-list-icon) description
            h3(mat-line) Description:
            .description-container(mat-line)
              .description.mat-headline {{repository.description}}

    .tabs
      nav.navigation(mat-tab-nav-bar)
        a.tab-link(
          mat-tab-link,
          *ngFor='let link of navLinks',
          (click)='changeRoute(link.path, link.label)',
          [active]='link.label === selectedRoute'
        )
          div([class]='link.icon')
          span &nbsp; {{link.label}}

      router-outlet
