.container
  .loader-container(*ngIf='!commits.length && commitsService.loading')
    mat-spinner([diameter] = '60')

  mat-list.commits-list(*ngIf='commits')
    mat-list-item.commit(*ngFor='let commit of commits')
      .avatar(matListAvatar)
        img(*ngIf='commit.author', matListAvatar, [src]='commit.author.avatar_url')
        .material-icons(*ngIf='!commit.author', matListIcon) account_circle

      .author-container
        .block.author-side
          .commit-message(matLine) {{commit.commit.message}}

          p.author(matLine)
            span.login(*ngIf='commit.author') {{commit.author.login}}	&nbsp;
            span.login(*ngIf='!commit.author') {{commit.commit.author.name}}	&nbsp;
            span.date committed on {{commit.commit.author.date | date:short}}

        .block
          .sha.mat-elevation-z3 {{commit.sha | slice:0:7}}
