&:host
  display: block

.container
  display: flex
  flex-direction: column

  .loader-container
    display: flex
    justify-content: center

    margin: 15px 0
    width: 100%

  .commits-list
    .commit
      overflow: visible
      padding: 15px 0

      width: 100%
      height: fit-content
      border-bottom: 1px solid rgba(255, 255, 255, .12)

      .avatar
        display: flex
        align-self: flex-start
        margin-right: 15px

        .material-icons
          margin-right: 8px
          font-size: 40px

      .author-container
        display: flex
        align-items: center
        width: 100%

        .block
          display: flex

          &.author-side
            flex-direction: column
            width: 100%

          .commit-message
            display: flex
            max-width: 95%
            white-space: pre-line
            word-break: break-all

          .sha
            padding: 10px
            width: 100px

          .author
            overflow: visible
            margin-top: 10px

            padding: 5px
            padding-left: 10px

            max-width: 95%
            background-color: #212121

            .date
              white-space: pre-line

            .login
              white-space: pre-line
              font-weight: 550
              font-size: 1.2em


@media (max-width: 480px)
  .commits-list
    .commit
      .avatar
        margin: 5px

      .author-container
        flex-direction: column

        .block
          align-self: flex-start
