&:host
  display: block
  width: 100%
  height: 100%

.div
  width: 100%
  height: 100%

  border-radius: 20px
  animation: move 1s linear infinite

@keyframes {move}
  for i in 0..100
    {1% * i}
      background-image: linear-gradient(to right, #f3f3f3 1% * i, #95a5a6 1% * i + 10%, #f3f3f3 1% * i + 20%)
