@import "@angular/material/prebuilt-themes/pink-bluegrey.css"

body
  margin: 0
  padding: 0

html, body
  min-height: 100%
  height: 100%
  font-family: Open-sans, sans-serif

*
  box-sizing: border-box
